.pure-context-menu.dropdown-menu {
  background: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 0.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  .dropdown-item {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem;
    &:hover {
      background: #eee;
    }
  }
  li:first-child .dropdown-item {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  li:last-child .dropdown-item {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  .dropdown-divider {
    margin: 0;
  }
}
